
<div>
  <h1> <%= @cocktail.name %></h1>
</div>

<div class="container">
  <h2>Description</h2>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li><%= dose.description %> - <%= dose.ingredient.name %></li>
    <% end %>
  </ul>
</div>


<div>
  <%= link_to "Return to List", cocktails_path %>
</div>

<div>
  <%= link_to "Add description", new_cocktail_dose_path(@cocktail) %>
</div>

<%= link_to "Delete", cocktail_dose_path(@cocktail),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
